.movie {
	position: relative;
	height: 100%;
	&__front, &__back {
		height: 100%;
		position: absolute;
		backface-visibility: hidden;
		transition: transform 300ms linear;
	}
	&__front {
		transform: rotateY(0deg);
		&--turn {
			transform: rotateY(-180deg);
		}
	}
	&__poster {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	&__title {
		text-align: center;
		font-size: 1.2em;
	}
	&__back {
		transform: rotateY(180deg);
		&--turn {
			transform: rotateY(0deg);
		}
	}
	&__description {
		color: white;
	}

}
