* {
	box-sizing: border-box;
}
.gallery {
	width: calc( 100% - 8px );
	height: calc( 80vh + 36px);
	margin: 4px;
	padding: 16px 0;
	background-color: rgb(140, 140, 140);
	font-size: 0;
	&__arrow {
		&-container {
			width: 40px;
			height: 80px;
			padding: 0;
			border: none;
			border-radius: 0;
			background-color: green;
			color: black;
			font-size: 80%;
			cursor: pointer;
			position: relative;
		}
		&--left, &--right {
			//
		}
		&--disabled{
			pointer-events: none;
			background-color: rgba(0, 128,0, 0.2)
		}
	}
	
	&__image {
		width: 100%;
		height: 80vh;
		position: absolute;		
		object-fit: cover;
		opacity: 0;
		&--selected {
			opacity: 1;
			-webkit-transition: opacity 1s ease-in-out;
			-moz-transition: opacity 1s ease-in-out;
			-o-transition: opacity 1s ease-in-out;
			transition: opacity 1s ease-in-out;
		}
		&-container {
			//
		}
		&s-container {
			width: calc( 100% - 80px );
			height: 80vh;			
			display: inline-block;
			position: relative;
		}
	}
	&__dot {
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background-color: black;
		cursor: pointer;
		margin: 0 4px;
		&--selected {
			background-color: white;
		}
		&-container {
			display: inline-block;
		}
		&s-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
