.grid {
	$item-width: 400px;
	$item-height: 120px;
	&__item {
		&-container {
			// background-color: yellowgreen;
			&--hidden {
				display: none
			}
		}
		&s-container {
			display: grid;
			padding: 1.2em;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-auto-rows: 240px;
			grid-gap: 20px;
			background-color: green;
		}
	}
}
