.caller {
	&__button {
		cursor: pointer;
		background-color: white;
		&-container {
			margin: 0 8px
		}
		&s-container {
			width: 100%;
			padding: 12px;
			background-color: red;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow-x: scroll;
		}
		&--selected {
			background-color: blueviolet;
		}
	}
}
